Checks: '
    cppcoreguidelines-*, readability-*,

    -readability-avoid-c-arrays, -readability-use-concise-preprocessor-directives, -readability-identifier-length, -readability-math-missing-parentheses,
    -readability-magic-numbers, -readability-braces-around-statements, -readability-function-cognitive-complexity, -readability-avoid-nested-conditional-operator,
    -readability-redundant-inline-specifier, -readability-uppercase-literal-suffix, -readability-isolate-declaration, -readability-convert-member-functions-to-static,

    -cppcoreguidelines-pro-type-reinterpret-cast, -cppcoreguidelines-pro-type-union-access
'
ExcludeHeaderFilterRegex: '(glm|rapidyaml|glad|stb|ankerl|dylib|tiny_gltf)'